body {
    background-image: url(../images/bananas.png);
    margin-top: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

h1 {
    text-align: center;
    font-size: 125px;
}

h2 {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.container {
    position: relative;
    width: 100%;
    margin-top: 25px;
    text-align: center;
    float: both;
}

#form-search {
    position: relative;
    margin: 0 auto;
    width: 200px;
    font-size: 22px;
}

#searchbar-input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    border-radius: 25px;
    border: 1px #888 solid;
    color: #333;
    padding: 5px 5px 5px 25px;
}

#searchbar_add-button {
    position: absolute;
    width: 45px;
    height: 45px;
    right: 0px;
    z-index: 10;
    border-radius: 25px;
    border: none;
}

#button-grid {
    position: relative;
    width: 100%;
    text-align: center;
}

.button {
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

/* This is the container div holding all of the images */
.gallery {
    width: 100%;
    margin: 0 auto;
}

/* This is the image
.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* Should change the color of the download button on hover */
button[type="submit"]:hover {
    background-color: #ffbfba;
    color: #333;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

#footer-text {
    color: #333;
    text-align: center;
}